section.filters {
	background-color: #fff;
	height: 70px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: flex;
	justify-content: flex-end;
}
section.filters > button {
	font-size: 18px;
	background-color: #ff5a5f;
	color: #fff;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	margin-right: 30px;
	align-self: center;
}
section.filters > button:hover {
	opacity: 90%;
}
